<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    
{{>header}}

<section>
<h1>{{title}}</h1>
<ul>
    <li><a href='#'>Home</a></li>
    <li><a href="about">About</a></li>
    <li><a href="weather">weather</a></li>
    
</ul>
<hr>
<h6>Created By: {{name}}</h6>
</section>

   
  </body>
</html>